<div class="row">
  <div class="col-md-12">
      <div class="card mb-2">
          <div class="card-header"><h5 class="p-0 m-0">Modules configuration</h5></div>
          <div class="card-body p-2">
            <div class="float-right">
              <a class="btn btn-primary btn-sm mr-1" [routerLink]="['/admin/modules/new']" > <i class="far fa-plus-square"></i> NEW </a>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body p-2">
              <div class="text-center">
                  <input [(ngModel)]="searchText" class="form-control form-control-sm" placeholder="Filter by name...">
              </div>
            </div>
        </div>
    </div>
  </div>

<div class="row">
  <div *ngFor="let item of dataItems | filter : searchText" class="col-md-3">
    <div class="card mb-3">
      <div class="card-header">
          <h5 class="m-0 p-0">{{ item.label }}</h5>
      </div>
      <div class="card-body text-center">
          <p style="font-size:64px;"> <i class="{{ item.icon }}"></i></p>
          <p class="card-text">{{ item.description }}</p>
      </div>
      <div class="card-footer text-right p-2">
          <a style="width:50px" [routerLink]="['../edit', item.name]" class="btn btn-light btn-sm mr-1"> <i class="far fa-edit"></i> </a>
          <a style="width:50px" [routerLink]="['../delete', item.name]" class="btn btn-light  btn-sm"> <i class="far fa-trash-alt"></i> </a>
      </div>
    </div>
  </div>
</div>
