<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container-fluid" id="main-content">
  <div class="row">
      <div class="col-2">
          <app-sidebar></app-sidebar>
      </div>
      <div class="col-10">
          <!--
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> {{ data.title }} </h5>
              <router-outlet></router-outlet>
            </div>
          </div>
          -->
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
<app-navbar-footer></app-navbar-footer>
