
<div class="card">
  <div class="card-header">
      <h5 class="m-0 p-0">Admin</h5> 
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action p-2" routerLink="/admin/config">Global Config</a>
    <a class="list-group-item list-group-item-action p-2" routerLink="/admin/modules">Modules</a>
    <a class="list-group-item list-group-item-action p-2" routerLink="/admin/entitytype">EntityTypes</a>
    <a class="list-group-item list-group-item-action p-2" routerLink="/admin/entitytypefield">EntityTypesFields</a>
  </div>
</div>
<hr />
<div class="card mt-3">
    <div class="card-header">
        <h5 class="m-0 p-0">Security</h5> 
    </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action p-2" routerLink="/admin/users">Users</a>
      <a class="list-group-item list-group-item-action p-2" routerLink="/admin/groups">Groups</a>
    </div>
  </div>


